*{
    margin: 0;
    box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:ital,wght@1,500&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@631&family=Irish+Grover&display=swap');
::-webkit-scrollbar {
    width: 0px;
}
$TitleFont:'Caveat', cursive;
$NoteFont:'Niconne', cursive;
h1{
    margin: 15px;
    font-family: $TitleFont;
    font-size: 62px;
    font-weight: bold;
}
body{
    text-align: center;
    background-image: url('pic/tile.jpg');
}


.form{
    text-align: center;
    padding: 1px 10% 1px 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url('pic/formbg.jpg');
    background-repeat: repeat;
    font-family: $NoteFont;
    font-size: 26px;
    box-shadow: 5px 10px 8px #0a00008f;
    label {
        font-weight: bold;
    }
    input{
        width: 25vw;
        margin-left: 10px;
        background: none;
        border: none;
    }
    input:focus {
        outline: none;
    }
    button{
        font-weight: bold;
    }

}
.notesDiv{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}
@keyframes note{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
.note{
    animation: note ease 3s;
    font-family: 'Amatic SC', cursive;
    font-size: 21px;
    margin: 15px;
    width: 15vw;
    height: 40vh;
    padding: 10px 9px 10px 9px; //top-right-bottom-left
    background-image: url('pic/notebg.png');
    background-repeat: no-repeat;
    background-size: 15vw 40vh;
    .delNote{
        position: relative;
        top: 2%;
        left: 30%;
        cursor: pointer;
        background:none;
        border: none;
        visibility: hidden;
    }
    .delNote:hover{
        color: red;
        opacity: 70%;
    }
    .editNote{
        position: relative;
        top: 2%;
        right: 50%;
        cursor: pointer;
        background:none;
        border: none;
        visibility: hidden;
    }
    .editNote:hover{
        color: rgb(0, 83, 11);
        opacity: 70%;
    }
    .info{
       
        height: calc(35vh - 45%);
        overflow-y: scroll;
        overflow-wrap: break-word;
        margin-bottom: 5px;
        margin-right: 15px;
    }
    .timeDiv{
        position: relative;
        right: 20%;
        padding-bottom: 2px;
        p{
            padding: 0;
            margin: 0%;
        }
    }
}
.note:hover{
    .delNote{
        visibility: visible;
    }
    .editNote{
        visibility: visible;
    }

}
